nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      .navbar-brand=meta.name
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#mainnav" aria-expanded="false")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse#mainnav
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Home
        li
          a(href='installation.html') Installation
        li
          a(href='usage.html') Usage
        li
          a(href='rules.html') Available Rules

div.jumbotron
  div.container
    h1=meta.name
      small.text-muted  #{meta.version}
    p.lead=meta.description
    p
      a.github-button(href="https://github.com/PascaleBeier/bootstrap-validate/archive/" + meta.version + ".zip" data-icon="octicon-cloud-download"
      data-size="large" aria-label="Download " + meta.name) Download
      a.github-button(href="https://github.com/PascaleBeier/bootstrap-validate" data-icon="octicon-star" data-size="large"
      aria-label="Star " + meta.name + " on GitHub") Star on GitHub
