extends layouts/app

block nav
  - var active = "Download"

block vars
  - var title = "Download"
  - var description = "Download " + meta.name + " for Bootstrap 3 or Bootstrap 4."
  - var bs3 = ["1.0.0", "1.0.1", "1.0.2", "1.0.3", "1.0.4", "1.0.5", "1.0.6", "1.0.7", "1.0.8", "1.0.9", "1.0.10", "1.0.11"]

block content

  +pageTitle(active, description)

  h2 Latest version for Bootstrap 4

  p.mb-4 You can use the latest version of #{meta.name} for Bootstrap 4. You can find older versions for Bootstrap 3 below!

  h3 Archive

  p Download the complete source as .zip or .tar.gz.

  a.github-button(href=`https://github.com/PascaleBeier/bootstrap-validate/archive/${meta.version}.zip` data-icon="octicon-cloud-download") Download #{meta.version} .zip
  a.github-button(href=`https://github.com/PascaleBeier/bootstrap-validate/archive/${meta.version}.tar.gz` data-icon="octicon-cloud-download") Download #{meta.version} .tar.gz

  h3 CDN

  p Getting #{meta.name} from CDN is the fastest why to try it out!

  pre
    code.html
      | &lt;script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/#{meta.version}/dist/bootstrap-validate.js"&gt;&lt;/script&gt;


  h2 Previous Versions for Bootstrap 3

  each release in bs3

    hr.my-2
    h3=release
    a.github-button(href=`https://github.com/PascaleBeier/bootstrap-validate/archive/${release}.zip` data-icon="octicon-cloud-download") Download #{release} .zip
    a.github-button(href=`https://github.com/PascaleBeier/bootstrap-validate/archive/${release}.tar.gz` data-icon="octicon-cloud-download") Download #{release} .tar.gz






