extends layouts/app

block nav
  - var active = "Rules"
block vars
  - var title = "Validation Rules"
  - var description = "Learn about the available validation rules " + meta.name + " ships with."

block content

  +pageTitle(active, "Bootstrap Validate currently ships the following rules. Below you will find a description of every rule, its very own options and a usage example.")

  .alert.alert-info
    h3 Are you missing a rule to validate your Bootstrap Forms?
    p We can surely help you on that one! Also, adding rules is super easy.
    p But before you need to get your hands dirty, file an Issue to get your rule added!
    p
      a.github-button(href="https://github.com/PascaleBeier/bootstrap-validate/issues" data-icon="octicon-issue-opened"
      data-size="large" data-show-count="true" aria-label="File an Issue to get your Rule added") Issue

  each rule, i in rules
    - var docs = docblock({tags: { error: docblock.singleParameterTag, description: docblock.singleParameterTag } }).parse(rule.toString());
    - var hasOptions = rule.length !== 1
      .rule(style='margin-bottom: 60px;')
        h2 #{rule.name}
          if semver.eq(docs.tags.since, meta.version)
            |&nbsp;<span class="badge badge-primary">New</span>
          if semver.gt(docs.tags.since, meta.version)
            |&nbsp;<span class="badge badge-danger">Unreleased</span>
          |&nbsp;<span class="badge badge-secondary">#{docs.tags.since}</span>

        p.lead=docs.tags.description

        ul.nav.nav-tabs(role="tablist" id=`${i}Tab`)
          li.nav-item
            a.nav-link.active(id=`#options_${i}_tab` data-toggle="tab" data-duration="350" data-height="true" href=`#options_${i}`  role="tab" aria-controls=`#options_${i}`  aria-expanded="true") Options
          li.nav-item
            a.nav-link(id=`#usage_${i}_tab` data-toggle="tab" data-duration="350" data-height="true" href=`#usage_${i}` role="tab" aria-controls=`#usage_${i}` aria-expanded="false") Usage
          li.nav-item
            a.nav-link(id=`#source_${i}_tab` data-toggle="tab" data-duration="350" data-height="true" href=`#source_${i}` role="tab" aria-controls=`#source_${i}` aria-expanded="false") Source

        .tab-content(id=`${i}TabContent`)
          .tab-pane.fade.active.show(role="tabpanel" id=`options_${i}`)

            h3 Options

            p Available Options: #{rule.length - 1}
            unless hasOptions
              .alert.alert-info You only need to pass an Error Text.

            - var optionsString = "";
            if hasOptions
              ul
                each param in [docs.tags.param]
                  li=param.substr(param.indexOf(" ") + 1)


            if docs.tags.example
              - optionsString += docs.tags.example + ':'

            if docs.tags.error
              - optionsString += docs.tags.error

          .tab-pane.fade(role="tabpanel" id=`usage_${i}`)
            h3 Usage

            pre
              code.javascript bootstrapValidate('#input', '#{rule.name}#{constants.SEPARATOR_OPTION}#{optionsString}')
          .tab-pane.fade(role="tabpanel" id=`source_${i}`)
            h3 Source

            pre
              code.javascript=rule.toString()

  a.btn.btn-lg.btn-outline-primary.pull-left(href="usage.html") ← Usage
  a.btn.btn-lg.btn-primary.pull-right(href="rules.html") Available Rules →

